name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [25, 21, 17, 11, 8]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
      - uses: ankane/setup-postgres@v1
        with:
          database: pgvector_java_test
          dev-files: true
      - run: |
          cd /tmp
          git clone --branch v0.8.1 https://github.com/pgvector/pgvector.git
          cd pgvector
          make
          sudo make install
      - run: psql -d pgvector_java_test -c "CREATE EXTENSION vector"
      # Spring JDBC 7 requires Java 17+
      - if: ${{ matrix.java < 17 }}
        run: rm src/test/java/com/pgvector/SpringJDBCTest.java
      # Hibernate 7 requires Java 17+
      - if: ${{ matrix.java < 17 }}
        run: rm src/test/java/com/pgvector/HibernateTest.java
      - run: mvn -B -ntp test
